<%= link_to "Submit Article", new_article_path, class: "btn btn-success btn-sm" %></td>
<h3>News</h3>
<% @allarticles.each do |article| %>
    <hr>
    <h3> <%= article.title %>  </h3>
    <%= article.score %> Likes
    <%=	 link_to image_tag("like.png"), like_article_path(article), method: :put %>
    <%=  link_to image_tag("dislike.png"), dislike_article_path(article), method: :put %>
    <p><i><%= article.updated_at %> </i></p>
    <p> <%= truncate(article.content, :length => 100) %> </p>
    <p> <%= link_to "Read All", article_path(article) %> </p>

<% end %>
