<div>
  <h1>Main Page</h1>

  <br>
  <%= link_to 'Project', sucampusenv_home_path %>
  <br>
  <%= link_to 'PS6 Documentation', sucampusenv_ps6_doc_path %>
  <br>
  <%= link_to 'PS5 Documentation', sucampusenv_ps5_doc_path %>
  <br>
  <%= link_to 'PS4 Documentation', sucampusenv_doc_path %>
  <br>
  <%= link_to 'Jenkins Failure Notification Mail', sucampusenv_jenkins_mail_path %>
  <br>
  <%= link_to 'References', sucampusenv_references_path %>
  <br>
  <%= link_to "DB Dump", db_dump_ps4_path %>
  <br>
  <%= link_to "Redmine", 'https://vgl-ait.org/redmine/login' %>
</div>